<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', root_path %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
	<strong>5 Star Rating:</strong>
	<%= @restaurant.reviews.average(:rating) %> out of 5
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user_id %>
</p>

<p>
	<% if @restaurant.images.attached? %>
		<% @restaurant.images.each do |image| %>
	  	<%= image_tag image, style: "width: 200px; display: block" %>
	  <% end %>
	<% end %>
</p>

<%= render 'reviews/form' %>
<h2>Reviews</h2>
<%= render @reviews.order("created_at DESC") if @reviews.any? %>
